{% extends 'base.html' %}
{% block title %}
Lossless Compression
{% endblock title %}
{% block body %}
<!-- <form action="/pdf-tools/docx-to-pdf/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">submit</button>
</form> -->

<form action="/pdf-tools/misc/lossless-compress/" method="post" enctype="multipart/form-data"
    class="mx-auto py-8 h-screen bg-gray-900">
    <h1 class="mx-auto text-center text-5xl text-gray-100 font-thin">Convert with Lossless Compression</h1>
    <div class="max-w-md mx-auto bg-gray-800 rounded-lg shadow-lg overflow-hidden my-10">
        <div class="px-6 py-4 flex-col justify-center align-middle">
            <h2 class="text-2xl font-semibold text-gray-300 mb-2">File Dropbox</h2>
            <p class="text-gray-400 mb-6">Drag and drop your files here or click below to upload.</p>

            <div class="border border-gray-500 rounded-md p-4 mb-4">
                <input type="file" class="hidden" id="file-upload" name="file">
                <label for="file-upload"
                    class="block text-center px-4 py-2 bg-gray-500 text-white rounded-md cursor-pointer hover:bg-gray-600">
                    Upload File
                </label>
            </div>

            <div id="file-list" class="grid grid-cols-1 gap-4"></div>
            <button type="submit"
                class="bg-gray-600 hover:bg-gray-700 rounded m-3 text-center px-4 py-2 cursor-pointer text-white">Convert</button>
        </div>
    </div>
    {% if filename != "" %}
    <button
        class="mx-auto flex items-center justify-center bg-blue-500 text-white font-semibold py-4 px-8 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none">
        <svg class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <a href="/uploads/out/{{filename}}" download="true">Download</a>
    </button>
    {% endif %}
</form>

{% endblock body %}

{% block js %}
<script>
    const fileUpload = document.getElementById('file-upload');
    const fileList = document.getElementById('file-list');

    fileUpload.addEventListener('change', (event) => {
        const files = event.target.files;
        displayFiles(files);
    });

    function displayFiles(files) {
        fileList.innerHTML = '';
        Array.from(files).forEach(file => {
            const listItem = document.createElement('div');
            listItem.className = 'bg-gray-700 text-gray-400 p-3 rounded-md flex items-center justify-between';
            const fileName = document.createElement('span');
            fileName.textContent = file.name;
            const fileSize = document.createElement('span');
            fileSize.textContent = `${(file.size / 1024).toFixed(2)} KB`;
            listItem.appendChild(fileName);
            listItem.appendChild(fileSize);
            fileList.appendChild(listItem);
        });
    }
</script>
{% endblock js %}